<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('支付方式列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>名称：</label>
                                <input type="text" name="ctName"/>
                            </li>
                            <li>
                                <label>编码：</label>
                                <input type="text" name="code"/>
                            </li>
                            <li>
                                <label>诊所编号：</label>
                                <input type="text" name="officeId"/>
                            </li>
                            <li>
                                <label>类别名称：</label>
                                <select name="itemType">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="status">
                                    <option value="">所有</option>
                                    <option value="-1">代码生成请选择字典属性</option>
                                </select>
                            </li>
                            <li>
                                <label>排序：</label>
                                <input type="text" name="sort"/>
                            </li>
                            <li>
                                <label>领健ID：</label>
                                <input type="text" name="lcId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="gw:chargetype:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="gw:chargetype:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="gw:chargetype:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="gw:chargetype:export">
                    <i class="fa fa-download"></i> 导出
                </a>

                <a class="btn btn-success" id="syncData" shiro:hasPermission="gw:chargetype:syncData">
                    <i class="fa fa-plus"></i> 获取接口数据
                </a>

            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('gw:chargetype:edit')}]];
        var removeFlag = [[${@permission.hasPermi('gw:chargetype:remove')}]];
        var prefix = ctx + "gw/chargetype";

        $(function() {
            $("#syncData").click(function(){
                var _url = prefix+ "/syncData";
                var data ={"":""};
                $.operate.post(_url,data,function(result) {
                    $.table.refresh();
                    if (result.code == web_status.SUCCESS) {
                        $.table.refresh();
                    } else if (result.code == web_status.WARNING) {
                        $.modal.alertWarning(result.msg)
                    } else {
                        $.modal.alertError(result.msg);
                    }
                });

            });
        });

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "支付方式",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'ctId',
                    title: '主键标识',
                    visible: false
                },
                {
                    field: 'ctName',
                    title: '名称'
                },
                {
                    field: 'code',
                    title: '编码'
                },
                {
                    field: 'officeId',
                    title: '诊所编号'
                },
                {
                    field: 'notes',
                    title: '备注'
                },
                {
                    field: 'itemType',
                    title: '类别名称'
                },
                {
                    field: 'status',
                    title: '状态'
                },
                {
                    field: 'sort',
                    title: '排序'
                },
                {
                    field: 'lcId',
                    title: '领健ID'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.ctId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.ctId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>