<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.gw.mapper.GwSuperCategoryMapper">
    
    <resultMap type="GwSuperCategory" id="GwSuperCategoryResult">
        <result property="scId"    column="sc_id"    />
        <result property="scName"    column="sc_name"    />
        <result property="officeId"    column="office_id"    />
        <result property="status"    column="status"    />
        <result property="sort"    column="sort"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="lcId"    column="lc_id"    />
    </resultMap>

    <sql id="selectGwSuperCategoryVo">
        select sc_id, sc_name, office_id, status, sort, create_by, create_time, update_by, update_time, lc_id from gw_super_category
    </sql>

    <select id="selectGwSuperCategoryList" parameterType="GwSuperCategory" resultMap="GwSuperCategoryResult">
        <include refid="selectGwSuperCategoryVo"/>
        <where>  
            <if test="scName != null  and scName != ''"> and sc_name like concat('%', #{scName}, '%')</if>
            <if test="officeId != null  and officeId != ''"> and office_id = #{officeId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="lcId != null  and lcId != ''"> and lc_id = #{lcId}</if>
        </where>
    </select>
    
    <select id="selectGwSuperCategoryByScId" parameterType="Long" resultMap="GwSuperCategoryResult">
        <include refid="selectGwSuperCategoryVo"/>
        where sc_id = #{scId}
    </select>
        
    <insert id="insertGwSuperCategory" parameterType="GwSuperCategory" useGeneratedKeys="true" keyProperty="scId">
        insert into gw_super_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="scName != null">sc_name,</if>
            <if test="officeId != null">office_id,</if>
            <if test="status != null">status,</if>
            <if test="sort != null">sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="lcId != null">lc_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="scName != null">#{scName},</if>
            <if test="officeId != null">#{officeId},</if>
            <if test="status != null">#{status},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="lcId != null">#{lcId},</if>
         </trim>
    </insert>

    <update id="updateGwSuperCategory" parameterType="GwSuperCategory">
        update gw_super_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="scName != null">sc_name = #{scName},</if>
            <if test="officeId != null">office_id = #{officeId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="lcId != null">lc_id = #{lcId},</if>
        </trim>
        where sc_id = #{scId}
    </update>

    <delete id="deleteGwSuperCategoryByScId" parameterType="Long">
        delete from gw_super_category where sc_id = #{scId}
    </delete>

    <delete id="deleteGwSuperCategoryByScIds" parameterType="String">
        delete from gw_super_category where sc_id in 
        <foreach item="scId" collection="array" open="(" separator="," close=")">
            #{scId}
        </foreach>
    </delete>

</mapper>